/AutoBots/ckps_eval/
/AutoBots/datasets/eth-ucy/data/
/AutoBots/datasets/eth-ucy/output/
/AutoBots/datasets/eth-ucy/processed_6/
/AutoBots/datasets/eth-ucy/processed_18/
/AutoBots/datasets/synth/synth_v2_0.5/
/AutoBots/my_scripts/
/AutoBots/results/